body{
    background-color: rgb(88, 177, 241);
}

.bg-gray{
   background-color: lightgray;
}
.header{
    color: white;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.margin{
    margin-left: 15rem;
}
.box{
    width: 45rem;
    height: 3rem;  
    background-color: black;
    margin: 1rem;
    text-align: center;
}

.boxA{
    width: 45rem;
    height: 3rem;  
    background-color: rgb(67, 134, 235);
    margin: 1rem;
    text-align: center;
}

.boxG{
    width: 45rem; 
    background-color: lightgray;
    margin: 1rem;
    text-align: center;
}

.boxG2{
    width: 30rem; 
    background-color: lightgray;
    margin: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
    text-align: center;
}

.realign{
    margin-right: 5rem;
    margin-left: 5rem;
}

.small{
    font-size: 15px;
}

.big{
    font-size: 20px;
}

.bigger{
    font-size: 25px;
}