body{
    background-color: rgb(88, 177, 241);
}

.bg-gray{
   background-color: lightgray;
}
a{
    text-decoration: none;
}
.header{
    font-size: 40px;
    color: white;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.margin{
    margin-left: 15rem;
}
.box{
    width: 45rem;
    height: 3rem;  
    background-color: black;
    margin: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boxA{
    width: 45rem;
    height: 3rem;  
    background-color: rgb(67, 134, 235);
    margin: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.boxB{
    width: 90rem; 
    background-color: lightgray;
    margin: 1rem;
    border-radius: 8%;
}

.boxG{
    width: 45rem; 
    background-color: lightgray;
    margin: 1rem;
    text-align: center;
    border-radius: 5%;
}

.boxG2{
    width: 30rem; 
    background-color: lightgray;
    margin: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
    text-align: center;
    border-radius: 5%;
}

.realign{
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.small{
    font-size: 15px;
}

.big{
    font-size: 20px;
}

.bigger{
    font-size: 25px;
}